.error{
    color : blue;
    border : 2px solid blue;
    padding : 20px;
}
.success{
    color : rgb(16, 151, 38);
    border : 2px solid rgb(16, 151, 38);
    padding : 30px;
}

li {
    list-style-type:none;
    max-width:  200px;
    padding :8px;
    margin:8px auto;
    background:#eee;
    border : 1px dotted #ddd;
    
}

.box{
    width:200px;
    height:200px;
    background: rgb(124, 113, 113);
    margin:50px;
    
}

.box1{
    width:100px;
    height:100px;
    background: rgb(204, 170, 170);
    margin:0px;
    
}

button{
    background:crimson;
    color:antiquewhite;
    display: block;
    border:0px;
    margin:10% auto;
    padding:6px 10px;
    border-radius: 5px;
    cursor:pointer;
}

.popup-warper{
    background:rgba(0,0,0,0.5);
    position:fixed;
    width:100%;
    height:100%;
    display:block;
    top:0;
    left:0;
    display:none;
}

.popup{
    background:white;
    text-align: center;
    padding: 20px;
    margin:15% auto;
    width: 400px;
    max-width:500px ;
    
}
.close-popup{
    text-align: right;
    cursor:pointer;
    
}
.popup a{
    background: crimson;
    padding:6px 10px;
    color :white;
    cursor:pointer;
}

body{
    background:#eee;
}
form{
    max-width : 200px;
    margin: 40px auto;
    padding:10px;
    background:white;
}
input{
    margin: 10px auto;
    display:block;
    padding:4px;
}
.inp-success{
    border:solid 2px limegreen;
    border-radius: 5px;

}
.inp-error{
    border:solid 2px crimson ;
    border-radius: 5px;
}
.form-div{
    text-align: right;
    color:crimson;
    font-size:11px;
}





